@forward 'vuetify/settings' with (
$application-background: #eeeeee,
$navigation-drawer-background: #3770a1
);
html {
  overflow-y: auto;
}

.sideMenu-active {
  border-top: 1px solid #24456b;
  border-bottom: 1px solid #5c88c4;
  background-color: #1e4b6c;
}
